

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#filters 
{
	
	display:block;
margin: 0px auto 0px auto

}

#filters a 
{
	margin: 2%;

}

#feedlist
{
	border: 1px solid black;
	color:black;
	float:left;
	font-size: 12px;

}

#feedlist img
{
	height:30px;
	width:30px;
	margin-right: 5px;

}

#feedlist li
{
	margin-bottom: 10px;
}










